# Task 14

Import libraries

In [137]:
import pandas as pd
import numpy as np 
import sklearn as sk
from sklearn.preprocessing import StandardScaler

Load The Dataframe

In [138]:
df=pd.read_csv('dataset.csv')

Idnetifying missing values

In [139]:
df.isnull().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

Drop rows with issing values

In [140]:
df.dropna(axis=0, how='any', inplace=True)

Drop colums with missing values

In [141]:
df.dropna(axis=1, how='any', inplace=True)

In [142]:
df.isnull().sum().sum()

0

Filling missing values

In [143]:
df.fillna(0, inplace=True)

Backward fill

In [144]:
df.bfill(inplace=True)

forward fill

In [145]:
df.ffill(inplace=True)

Interpolate missing values

In [146]:
df.interpolate(method='linear', inplace=True)

convert column

In [147]:
df.info

<bound method DataFrame.info of Empty DataFrame
Columns: [id, diagnosis, radius_mean, texture_mean, perimeter_mean, area_mean, smoothness_mean, compactness_mean, concavity_mean, concave points_mean, symmetry_mean, fractal_dimension_mean, radius_se, texture_se, perimeter_se, area_se, smoothness_se, compactness_se, concavity_se, concave points_se, symmetry_se, fractal_dimension_se, radius_worst, texture_worst, perimeter_worst, area_worst, smoothness_worst, compactness_worst, concavity_worst, concave points_worst, symmetry_worst, fractal_dimension_worst, Unnamed: 32]
Index: []

[0 rows x 33 columns]>

In [148]:
df['id'] = df['id'].astype(int)

Apply a Function to Transform the Values of a Column

In [149]:
df['diagnosis'] = df['diagnosis'].apply(lambda x: x * 2)

 Normalize a Column Using Min-Max Scaling

In [150]:
df['id'] = (df['id'] - df['id'].min()) / (df['diagnosis'].max() - df['diagnosis'].min())

Standardize a Column (z-score normalization)

In [151]:
df['id'] = (df['id'] - df['id'].mean()) / df['diagnosis'].std()

Identify Duplicate Rows in the DataFrame

In [152]:
df.duplicated().sum()

0

Drop Duplicate Rows

In [153]:
df.drop_duplicates(inplace=True)

Empty DataFrame
Columns: [id, diagnosis, radius_mean, texture_mean, perimeter_mean, area_mean, smoothness_mean, compactness_mean, concavity_mean, concave points_mean, symmetry_mean, fractal_dimension_mean, radius_se, texture_se, perimeter_se, area_se, smoothness_se, compactness_se, concavity_se, concave points_se, symmetry_se, fractal_dimension_se, radius_worst, texture_worst, perimeter_worst, area_worst, smoothness_worst, compactness_worst, concavity_worst, concave points_worst, symmetry_worst, fractal_dimension_worst, Unnamed: 32]
Index: []

[0 rows x 33 columns]

Drop Duplicate Rows Based on Specific Columns

In [154]:
df.drop_duplicates(subset=['column1', 'column2'], inplace=True)

Empty DataFrame
Columns: [id, diagnosis, radius_mean, texture_mean, perimeter_mean, area_mean, smoothness_mean, compactness_mean, concavity_mean, concave points_mean, symmetry_mean, fractal_dimension_mean, radius_se, texture_se, perimeter_se, area_se, smoothness_se, compactness_se, concavity_se, concave points_se, symmetry_se, fractal_dimension_se, radius_worst, texture_worst, perimeter_worst, area_worst, smoothness_worst, compactness_worst, concavity_worst, concave points_worst, symmetry_worst, fractal_dimension_worst, Unnamed: 32]
Index: []

[0 rows x 33 columns]

Convert All String Values in a Column to Lowercase

In [155]:
df['diagnosis'] = df['diagnosis'].str.lower()

Remove Leading and Trailing Spaces from String Values in a Column

In [156]:
df['diagnosis'] = df['diagnosis'].str.strip()

Replace a Specific Substring in a Column with Another Substring

In [157]:
df['Diagnosis'] = df['diagnosis'].str.replace('old_substring', 'new_substring')

Extract a Substring from Each Value in a Column

In [158]:
df['new_diagnosis'] = df['diagnosis'].str[0:5]

Convert a Column to Datetime Format

In [159]:
df['diagnosis'] = pd.to_datetime(df['diagnosis'])

Convert a Categorical Column to Numerical Using One-Hot Encoding

In [160]:
df = pd.get_dummies(df, columns=['diagnosis'])

Convert a Categorical Column to Numerical Using Label Encoding

In [162]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['id'] = le.fit_transform(df['id'])

Group Values in a Categorical Column and Create a New Column with Grouped Categories

In [165]:
df['id'] = df['id'].apply(lambda x: 'Group1' if x in ['A', 'B', 'C'] else 'Group2')

Merge two dataframes

In [167]:
import pandas as pd

data = {
    'name_id': [1, 2, 3, 4, 5, 6, 7, 8],
    'categorical_column': ['A', 'B', 'D', 'A', 'C', 'E', 'B', 'F']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df['grouped_column'] = df['categorical_column'].apply(lambda x: 'Group1' if x in ['A', 'B', 'C'] else 'Group2')
print("\nDataFrame with Grouped Column:")
print(df)

Original DataFrame:
   name_id categorical_column
0        1                  A
1        2                  B
2        3                  D
3        4                  A
4        5                  C
5        6                  E
6        7                  B
7        8                  F

DataFrame with Grouped Column:
   name_id categorical_column grouped_column
0        1                  A         Group1
1        2                  B         Group1
2        3                  D         Group2
3        4                  A         Group1
4        5                  C         Group1
5        6                  E         Group2
6        7                  B         Group1
7        8                  F         Group2

Concatenate Two DataFrames Vertically

In [169]:
df_concat = pd.concat([df, df], axis=0)

Create polynomial features from existing numerical columns.

In [173]:
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures

# Sample DataFrame
data = {
    'id': [1, 2, 3, 4, 5],
    'diagnosis': [0, 1, 0, 1, 0]
}

df = pd.DataFrame(data)

print("Column names in DataFrame:")
print(df.columns)


print("\nDataFrame:")
print(df)

try:
    poly = PolynomialFeatures(degree=2)
    poly_features = poly.fit_transform(df[['id', 'diagnosis']])
    poly_df = pd.DataFrame(poly_features, columns=poly.get_feature_names_out(['id', 'diagnosis']))
    print("\nPolynomial Features DataFrame:")
    print(poly_df)
except KeyError as e:
    print(f"\nKeyError: {e}")
except AttributeError as e:
    print(f"\nAttributeError: {e}")

Column names in DataFrame:
Index(['id', 'diagnosis'], dtype='object')

DataFrame:
   id  diagnosis
0   1          0
1   2          1
2   3          0
3   4          1
4   5          0

Polynomial Features DataFrame:
     1   id  diagnosis  id^2  id diagnosis  diagnosis^2
0  1.0  1.0        0.0   1.0           0.0          0.0
1  1.0  2.0        1.0   4.0           2.0          1.0
2  1.0  3.0        0.0   9.0           0.0          0.0
3  1.0  4.0        1.0  16.0           4.0          1.0
4  1.0  5.0        0.0  25.0           0.0          0.0